<footer>
    <nav>
      <ul>
        <li>
          <a href="#servicios">Portfolio</a>
        </li>
        <li>
          <a href="#about">Acerca de</a>
        </li>
        <li>
          <a href="#contact">Contacto</a>
        </li>
      </ul>
    </nav>
    <div>
      <p>SELFLOVE</p>
      <p>Copyrigth 2022</p> 
    </div>
    <div class="redes">
      <img src="/assets/Twiter.png" />
      <img src="/assets/Instagram.png" />
      <img src="/assets/Fb.png" />
    </div>
</footer>