<header>
    <nav>
        <ul>
            <li>
                 
                <a href="#inicio">SELFLOVE</a>
            </li>
            <li>
                <a href="#servicios">Portfolio</a>
            </li>
            <li>
                <a href="#about">Acerca de</a>
            </li>
            <li>
                <a href="#contact">Contacto</a>
            </li>
        </ul>
        <!-- Barra de busqueda -->
        <div class="search">
            <a href="./cart.html">
            <img src="/assets/Compra-Logo.png" />
            </a>
            <form action="#">
                <input type="text"
                    placeholder=" Search"
                    name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</header>