* {
    margin: 0;
    padding: 0;
}

:root {
    --Color1-Det:#e98fec; 
    --Color2-HyF:#e98fec; 
    --Color3-Fondo:#F2E0D5; 
    --Color4: white;
    --Color5: #D9D9D9; 
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    width: calc(100vw - (100vw - 100%));
    background-color: var(--Color3-Fondo);
}


    header {
        background-color: var(--Color2-HyF);      
        padding: 16px 32px;               
        position: sticky;                 
        top: 0;
        z-index: 100;
    }
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;                  
    }
    header nav ul li {                  
        padding: 4px 8px;               
        transition: all .5s;            
        cursor: pointer;                
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        text-align: center;
        width: 50%;
    }
    header nav ul li a {                 
        flex-direction: row;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
    }
    header nav ul li a {                
        text-decoration: none;          
        color: white;
        font-weight: bold;
    }
    header nav ul li:hover {            
        background-color: #0c3131;      
    }
    /* Barra de busqueda */
    .search input[type=text]{
        width:100px;
        height:25px;
        border-radius:4px;
        border: none;
    }
    header nav div {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .search button{
        background-color: var(--Color1-Det);
        color: #f2f2f2;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    } 

    
@media (min-width: 1000px){              /*DESKTOP MEDIA*/
    /*--- Header ---*/
    header {
        background-color: var(--Color2-HyF);      /* Color de fondo */
        padding: 16px 32px;               /* 16px en sentido vertical, 32px en sentido horizontal */  
        position: sticky;                 /* Dejar el Header fijo conforme scrolea */  
        top: 0;
        z-index: 100;
    }
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;                /* Elimina puntitos de la lista */
    }
    header nav ul li {                  /*  LISTA */
        padding: 4px 8px;               /* Padding que agrega gaps enrte los elementos del Nav */
        transition: all .5s;            /* Delay de 0.5s para los efectos */
        cursor: pointer;                /* Para que el boton aplique a la lista y no solo al texto...  */
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        text-align: center;
        width: auto;
    }
    header nav ul li a {                 
        flex-direction: row;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
    }
    header nav ul li a {                /* TEXTO DENTRO DE LA LISTA */
        text-decoration: none;          /* Elimina el subrayado del texto */
        color: white;
        font-weight: bold;
    }
    header nav ul li:hover {            /* Efectos cuando posiciono el puntero encima del texto */
        background-color: #0c3131;    /* Cambia el color de fondo */  
    }
    /* Barra de busqueda */
    .search input[type=text]{
        width:300px;
        height:25px;
        border-radius:4px;
        border: none;
    }
    header nav div {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .search button{
        background-color: var(--Color1-Det);
        color: #f2f2f2;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    } 
}